{% extends 'authenticate/base.html' %}

{% block content %}
<h2 class="text-center">Edit profile</h2>

<div class="col-md-6 offset-md-3">
    <form method="post" action="{% url 'edit_profile' %}">
        {% csrf_token %}

        {% if form.errors %}

        <div class="alert alert-inline alert-danger errors">
            {% for field in form %}
            {% if field.errors %}
            {{field.errors}}
            {% endif %}
            {% endfor %}
        </div>
        {% endif %}

        {{ form.as_p }}

        <a class="btn btn-secondary" href="{% url 'change_password' %}">Change password</a>

        <input class="btn btn-secondary" type="submit" value="Save"/>
    </form>
</div>
{% endblock %}